.promo {
  padding-top: 0;
  overflow: hidden;
}

.promo__grid {
  position: relative;
  display: grid;
  grid-template-columns: 62.5% minmax(0%, 1fr);
  gap: 32px var(--element-gap-horizontal, @element-gap-horizontal);
  grid-template-areas:
    'content image'
    'info info'
    'value value';
  
  @media (min-width: @breakpoint-md) {
    grid-template-columns: repeat(2, minmax(0%, 1fr));
    gap: 40px var(--element-gap-horizontal, @element-gap-horizontal);
    grid-template-areas:
      'content image'
      'info image';
  }

  @media (min-width: @breakpoint-lg) {
    grid-template-columns: 58.33% minmax(0%, 1fr);
  }

  @media (min-width: @breakpoint-xl) {
    gap: 60px var(--element-gap-horizontal, @element-gap-horizontal);
  }
}

.promo__content {
  grid-area: content;
  padding-top: 60px;

  @media (min-width: @breakpoint-md) {
    padding-top: 80px;
  }

  @media (min-width: @breakpoint-xl) {
    padding-top: 120px;
  }
}

.promo__info {
  grid-area: info;

  @media (min-width: @breakpoint-md) {
    padding-bottom: 80px;
  }

  @media (min-width: @breakpoint-md) {
    padding-bottom: 120px;
  }
}

.promo__image {
  grid-area: image;
  position: relative;

  img {
    width: 100%;
    width: ~"calc(100% + var(--block-gap-horizontal, @{block-gap-horizontal}))";
    max-width: none;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;

    @media (min-width: @breakpoint-md) {
      position: absolute;
      top: 0;
      left: 0;
    }

    @media (min-width: @breakpoint-lg) {
      width: ~"calc(50vw - var(--block-gap-horizontal, @{block-gap-horizontal}) / 2 - 20%)";
    }
  }
}

.promo__value {
  grid-area: value;

  @media (min-width: @breakpoint-md) {
    position: absolute;
    bottom: 128px;
    right: 0;
  }
}

.promo__title {
  margin-bottom: 32px;

  @media (min-width: @breakpoint-md) {
    margin-bottom: 40px;
  }

  @media (min-width: @breakpoint-xl) {
    margin-bottom: 60px;
  }
}

.promo__text {
  @media (min-width: @breakpoint-md) {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  @media (min-width: @breakpoint-xl) {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  @media (min-width: @breakpoint-xxl) {
    max-width: 75%;
    font-size: 1.625rem;
    line-height: 2rem;
  }
}

.promo__action {
  margin-bottom: 24px;

  @media (min-width: @breakpoint-md) {
    margin-bottom: 32px;
  }

  @media (min-width: @breakpoint-xl) {
    margin-bottom: 40px;
  }

  .btn {
    background-image: linear-gradient(270deg, #FFCC00 0%, #FFA300 100%);
    border: none;
    color: #fff;
    position: relative;
    transition-property: opacity, color;

    @media (max-width: @breakpoint-lg - 1px) {
      width: 100%;
    }

    &:not([disabled]):hover {
      opacity: 0.85;
    }

    &::before {
      content: '';
      position: absolute;
      top: -12px;
      left: 32px;
      width: 0;
      height: 0; 
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-bottom: 12px solid #FFAD01;
    }
  }
}