.service-centers__grid {
  @media (min-width: @breakpoint-md) {
    --element-width: 33.33%;
  }

  @media (min-width: @breakpoint-xl) {
    --element-width: 50%;
  }
}

.service-centers__item--info {
  @media (max-width: @breakpoint-xl - 1px) {
    order: -1;
    width: 100%;
  }
}

.service-centers__image {
  height: 100%;

  @media (min-width: @breakpoint-xl) and (max-width: @breakpoint-xxl - 1px) {
    min-height: 540px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.service-centers__title {
  margin-bottom: 32px;
  font-weight: 800;

  @media (max-width: @breakpoint-md - 1px) {
    text-align: center;
  }

  @media (min-width: @breakpoint-md) {
    margin-bottom: 40px;
  }

  @media (min-width: @breakpoint-xl) {
    margin-bottom: 50px;
  }

  @media (min-width: @breakpoint-xxl) {
    margin-bottom: 60px;
  }

  h2 {
    font-size: 1.625rem;
    line-height: 2rem;

    @media (min-width: @breakpoint-md) {
      font-size: 2.5rem;
      line-height: 3.25rem;
    }
    
    @media (min-width: @breakpoint-xl) {
      font-size: 3.125rem;
      line-height: 4rem;
    }
  }
}

.service-centers__text {
  margin-bottom: 24px;

  @media (min-width: @breakpoint-md) {
    margin-bottom: 32px;
  }

  @media (min-width: @breakpoint-xl) {
    margin-bottom: 40px;
  }
}

.service-centers__action {
  .btn {
    @media (max-width: @breakpoint-md - 1px) {
      width: 100%;
    }
  }
}